body{
    margin:0;
    padding:0;
}
.container{
    background-color: #333333;
    width:100vw;
    height:100vh;
    color: #FFFFFF;
}
.header{
    background-color: #333333;
}
.recipes{
    background-color: #555555;
}
.footer{
    background-color: #555555;
}