table {
    border-color: rebeccapurple;
    border-width: 3px;
    border-spacing: 0px;
    text-align: center;
    width: 80vw;
}
table img {
    height: 100px;
}

.content_e,
.content_g {
    width: 80vw;
    height: 80vh;
}