table {
    border-color: rebeccapurple;
    border-width: 3px;
    border-spacing: 0px;
    text-align: center;
    
}
table img {
    height: 100px;
}
button {
    padding: 10px 40px;
}

.container {
    display: grid;
    background-color: #E6ECF0;
    width: 100vw;
    height: auto;
    grid-template-areas:
        "a a a a a a a a a a"
        "b e e e e e e e e c"
        "b f f f f f f f f c"
        "b f f f f f f f f c"
        "b f f f f f f f f c"
        "d d d d d d d d d d";
}

.content_e{
    height: 75vh;
}

.content_f {
    height: 1363vh;
}
.content_b,
.content_c 
{
    width: 3vw;
}