p
{
   margin: 10px 3vw 0px 3vw;
}

p img
{
    margin: 0px 15px 0px 15px;
}

.container {
    display: grid;
    background-color: #E6ECF0;
    width: 100vw;
    height: auto;
    grid-template-areas:
        "a a a a a a a a a a"
        "b e e e e e e e e c"
        "b f f f f f f f f c"
        "b f f f f f f f f c"
        "b f f f f f f f f c"
        "d d d d d d d d d d";
}