button {
    padding: 10px 40px;
    border: 0;
    border-radius: 5%;
    margin: 4px 2px;
}

button:hover
{
    color: white;
    transition: background-image 0.5s;
    cursor: pointer;
}

p
{
   margin: 10px 3vw 0px 3vw;
}

p img
{
    margin: 0px 15px 0px 15px;
}
.container {
    display: grid;
    background-color: #E6ECF0;
    width: 100vw;
    height: auto;
    grid-template-areas:
        "a a a a a a a a a a"
        "b e e e e e e e e c"
        "b f f f f f f f f c"
        "b f f f f f f f f c"
        "b f f f f f f f f c"
        "d d d d d d d d d d";
}

.content_b,
.content_c 
{
    width: 3vw;
}

.content_e
{
    height: 25vh;
}

.content_f
{
    height: 210vh;
}